<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>$TITLE</title>
</head>

<body>

    <header>
        <nav>
            <a title="home" href="/"><img src="/assets/images/home_icon.png" class="icon"></a>
            <a title="terminal" href="/terminal"><img src="/assets/images/terminal_icon.png" class="icon"></a>
            <a title="nodejs" href="/nodejs"><img src="/assets/images/nodejs_icon.png" class="icon"></a>
            <a title="variables" href="/variables"><img src="/assets/images/variables_icon.png" class="icon"></a>
            <a title="functions" href="/functions"><img src="/assets/images/functions_icon.png" class="icon"></a>
            <a title="loops" href="/loops"><img src="/assets/images/loops_icon.png" class="icon"></a>
            <a title="design" href="/design"><img src="/assets/images/design_icon.png" class="icon"></a>
            <a title="modules" href="/modules"><img src="/assets/images/modules_icon.png" class="icon"></a>
            <a title="restapi" href="/restapi"><img src="/assets/images/api_icon.png" class="icon"></a>
            <a title="html" href="/html"><img src="/assets/images/html_icon.png" class="icon"></a>
            <a title="redirect" href="/redirect"><img src="/assets/images/redirect_icon.png" class="icon"></a>
            <a title="xss" href="/xss"><img src="/assets/images/xss_icon.png" class="icon"></a>
            <a title="bluesky" href="/bluesky"><img src="/assets/images/bluesky_icon.png" class="icon"></a>
            <a title="login" href="/login"><img src="/assets/images/login_icon.png" class="icon"></a>
            <a title="admin" href="/admin"><img src="/assets/images/admin_icon.png" class="icon"></a>
        </nav>
    </header>

    <main>