<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>$TITLE</title>
</head>

<body>

    <header>
        <nav>
            <a href="/"><img src="/assets/images/home_icon.png" class="icon"></a>
            <a href="/terminal"><img src="/assets/images/terminal_icon.png" class="icon"></a>
            <a href="/variables"><img src="/assets/images/variables_icon.png" class="icon"></a>
            <a href="/3"><img src="/assets/images/types_icon.png" class="icon"></a>
            <a href="/3"><img src="/assets/images/functions_icon.png" class="icon"></a>
        </nav>
    </header>

    <main>