.columnLeft {
    background-color: rgb(22, 22, 22);
    background-image: linear-gradient(to right, rgb(10, 10, 10), rgb(22, 22, 22));
}

.columnLeft h3 {
    color: burlywood;
}

.columnRight {
    background-color: rgb(23, 23, 23);
    background-image: linear-gradient(to right, rgb(23, 23, 23), rgb(10, 10, 10));
}

.columnRight.dark {
    background-color: rgb(30, 30, 30);
}

.columnRight.light {
    background-color: rgb(200, 200, 200);
}

body {
    background-color: rgb(0, 0, 0);
}

main {
    color: whitesmoke;
}

nav {
    background-image: linear-gradient(rgba(40, 32, 54, 0), rgba(40, 32, 54, 1), rgba(40, 32, 54, 0));
}

footer {
    color: blanchedalmond;
    background-image: repeating-linear-gradient(to right, rgba(40, 32, 54, 0), rgba(40, 32, 54, 1), rgba(40, 32, 54, 0));
}

h2 {
    color: burlywood;
}

.subText h4,
h5 {
    color: lightblue;
}

pre {
    background-color: rgb(41, 42, 48);
    color: papayawhip;
}

input {
    background-color: antiquewhite;
}

button {
    background-color: antiquewhite;
}

.pageNavigation {
    color: cadetblue;
}

.pageSection {
    color: lightblue;
}

.pageSection:hover {
    background-color: rgb(40, 40, 40);
}