.columnLeft {
    background-color: rgb(22, 22, 22);
    background-image: linear-gradient(to right, rgb(10, 10, 10), rgb(22, 22, 22));
}

.columnLeft h3 {
    color: burlywood;
}

.columnRight {
    background-color: rgb(23, 23, 23);
    background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(10, 10, 10));
}

body {
    background-image: url("../images/pos.png");
}

main {
    color: whitesmoke;
}

nav {
    background-image: linear-gradient(rgba(80, 110, 130, 0.8), rgb(80, 110, 130, 1), rgba(80, 110, 130, 0.8));
}

footer {
    color: blanchedalmond;
    background-image: repeating-linear-gradient(to right, rgba(80, 110, 130, 0), rgb(80, 110, 130, 1), rgba(80, 110, 130, 0));
}

h2 {
    color: burlywood;
}

.subText h4,
h5 {
    color: lightblue;
}

pre {
    background-color: rgb(41, 42, 48);
    color: papayawhip;
}

input {
    background-color: antiquewhite;
}

button {
    background-color: antiquewhite;
}

.icon:hover {
    filter:saturate(100%)
}

.pageNavigation {
    color: cadetblue;
}

.pageSection {
    color: lightblue;
}

.pageSection:hover {
    background-color: rgb(40, 40, 40);
}