.row {
    display: flex;
  }
  
.columnLeft {
    flex: 20%;
    padding: 1vw;
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(to right, rgb(15,15,15), rgb(25,25,25));
  }

  .columnLeft h3 {
    color: burlywood;
    text-decoration: underline;
  }

  .columnRight {
    flex: 80%;
    padding: 1vw;
    background-color: rgb(25, 25, 25);
    background-image: linear-gradient(to right, rgb(25,25,25), rgb(15,15,15));
  }

  .columnRight.dark {
    background-color: rgb(30, 30, 30);
  }

  .columnRight.light {
    background-color: rgb(200, 200, 200);
  }

body {
    background-color: rgb(0, 0, 0);
}

main {
    flex: 1;
    margin-left: 5vw;
    margin-right: 5vw;
    /* background-color: rgb(30, 30, 30); */
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

nav {
    /* background-color: rgb(60, 49, 80); */
    background-image: linear-gradient(rgba(60,49,80,0), rgba(60,49,80,1), rgba(60,49,80,0));
    border-radius: 2em;
    margin-bottom: 2vh;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

footer {
    color: blanchedalmond;
    /* background-color: rgb(60, 49, 80); */
    background-image: repeating-linear-gradient(to right, rgba(60,49,80,0), rgba(60,49,80,1), rgba(60,49,80,0));
    font-size: medium;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

h2 {
    color: burlywood;
    text-decoration: underline;
}

h3 {
    font-style: italic;
}

.introText {
    font-size: large;   
}

.subText h4, h5 {
    color:lightblue;
}

pre {
    
    white-space: pre;
    display: inline-block;
    background-color: rgb(41, 42, 48);
    color: papayawhip;
    font-family: monospace;
    padding: 1vw;
    border-radius: 1em;
  }
  
  code {
    padding: 1vw;
    text-align: left;
  }

  .snippet {
    text-align: left;
  }

#nodejs-logo {
    max-width: 40vw;
    height: auto;
}

.icon {
    max-width: 4vw;
    height: auto;
    border-radius: 1em;
}

.icon:hover {
    max-width: 6vw;
}

.index {
    max-width: 10vw;
    height: auto;
    border-radius: 1em;
}

.admin {
    margin: auto;
    width: 30vw;
    height: auto;
    border-radius: 5em;
    opacity: 50%;
}

.node {
    vertical-align:middle;
    margin-bottom: 0.8vw;
    display: inline;
    width: auto;
    height: 2vw;
}

.express {
    vertical-align:middle;
    margin-bottom: 0.1vw;
    display: inline;
    width: auto;
    height: 1.4vw;
}

.content {
    padding-left: 1vw;
 }

input {
    background-color: antiquewhite;
    border-radius: 0.5em;
    font-size: large;
}

button {
    background-color: antiquewhite;
    border-radius: 0.5em;
    font-size: large;
}

.pageNavigation {
    font-size: medium;
    color:cadetblue;
    text-align: end;
}

.pageSection {
    color:lightblue;
}

.pageSection:hover {
    background-color: rgb(40, 40, 40);
}
