.row {
    display: flex;
  }
  
.columnLeft {
    flex: 20%;
    padding: 1vw;
    background-color: rgb(15, 15, 15);
  }

  .columnRight {
    flex: 80%;
    padding: 1vw;
  }

body {
    background-color: rgb(0, 0, 0);
}

main {
    flex: 1;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

nav {
    /* background-color: rgb(60, 49, 80); */
    background-image: linear-gradient(rgba(60,49,80,0), rgba(60,49,80,1), rgba(60,49,80,0));
    border-radius: 2em;
    margin-bottom: 2vh;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

footer {
    color: blanchedalmond;
    /* background-color: rgb(60, 49, 80); */
    background-image: repeating-linear-gradient(to right, rgba(60,49,80,0), rgba(60,49,80,1), rgba(60,49,80,0));
    font-size: small;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

h2 {
    color: burlywood;
    text-decoration: underline;
}

h3 {
    font-style: italic;
}

.introText {
    font-size: large;   
}

.subText h4, h5 {
    color:lightblue;
}

pre {
    
    white-space: pre;
    display: inline-block;
    background-color: rgb(41, 42, 48);
    color: papayawhip;
    font-family: monospace;
    padding: 1vw;
    border-radius: 1em;
  }
  
  code {
    padding: 1vw;
    text-align: left;
  }

  .snippet {
    text-align: left;
  }

#nodejs-logo {
    max-width: 40vw;
    height: auto;
}

.icon {
    max-width: 4vw;
    height: auto;
    border-radius: 1em;
}

.index {
    max-width: 12vw;
    height: auto;
    border-radius: 1em;
}

.content {
    padding-left: 1vw;
 }

input {
    background-color: antiquewhite;
    border-radius: 0.5em;
    font-size: large;
}

button {
    background-color: antiquewhite;
    border-radius: 0.5em;
    font-size: large;
}

.pageNavigation {
    font-size: medium;
    color:cadetblue;
    text-align: end;
}

.pageSection {
    color:lightblue;
}

.pageSection:hover {
    background-color: rgb(40, 40, 40);
}
